127.0.0.1 localhost.localdomain localhost
{% for node in groups['hadoop-cluster'] %}
{{ hostvars[node][cluster_interface]['ipv4']['address'] }} {{ hostvars[node]['ansible_fqdn'] }} {{ hostvars[node]['ansible_hostname'] }}
{% endfor %}
