127.0.0.1 localhost.localdomain localhost
{% for server in groups['mbd-cluster'] %}
{{ hostvars[server][mbd_cluster_interface]['ipv4']['address'] }} {{ hostvars[server]['ansible_fqdn'] }} {{ hostvars[server]['ansible_hostname'] }}
{% endfor %}
