{
  "blueprint" : "cluster_blueprint",
  "default_password" : "{{ hdp_default_password }}",
  "host_groups" :[
    {
      "name" : "single_node",
      "hosts" : [
        {
          "fqdn" : "{{ hostvars[groups['ambari-host'][0]]['ansible_fqdn'] }}"
        }
      ]
    }
  ]
}
