{
  "checks": {
    "check-alerts": {
      "command": "/opt/sensu/embedded/bin/check-alerts.rb -u admin -p {{ admin_password }}",
      "subscribers": [
         "ambari"
      ],
      "interval": 30,
      "standalone": true
    }
  }
}
