[Unit]
Description=ambari-server service
After=xe-linux-distribution.service

[Service]
Type=forking
ExecStart=/usr/sbin/ambari-server start
ExecStop=/usr/sbin/ambari-server stop

[Install]
WantedBy=multi-user.target
