{
   "client": {
      "name": "{{ account }}-{{ sensu_client_hostname }}",
      "address": "{{ sensu_client_address }}",
      "subscriptions": [ "{{ "\",\"".join(sensu_client_subscription_names) }}","ambari" ],
      "ambari": {
         "user": "{{ ambari.user }}",
         "pass": "{{ ambari.pass }}"
      },
      "ram": {
         "warn_perc": "{{ ram.warn_perc }}",
         "crit_perc": "{{ ram.crit_perc }}"
      },
      "cpu": {
         "warn_1": "{{ cpu.warn_1 }}",
         "warn_5": "{{ cpu.warn_5 }}",
         "warn_15": "{{ cpu.warn_15 }}",
         "crit_1": "{{ cpu.crit_1 }}",
         "crit_5": "{{ cpu.crit_5 }}",
         "crit_15": "{{ cpu.crit_15 }}"
      },
      "disk": {
         "warning": "{{ disk.warning }}",
         "critical": "{{ disk.critical }}"
      }
   }
}
