{
  "configurations" : [
    {
      "core-site": {
        "hadoop.proxyuser.hcat.groups" : "*",
        "hadoop.proxyuser.hcat.hosts" : "*",
        "hadoop.proxyuser.hue.groups" : "*",
        "hadoop.proxyuser.hue.hosts" : "*"
      }
    },
    {% if hostvars[groups['master-nodes'][0]]['ansible_memtotal_mb'] > 24000 -%}
    {
      "hadoop-env" : {
        "dtnode_heapsize" : "2048m",
        "namenode_heapsize" : "4096m",
        "namenode_opt_maxnewsize" : "512m",
        "namenode_opt_newsize" : "512m"
      }
    },
    {% elif hostvars[groups['master-nodes'][0]]['ansible_memtotal_mb'] > 10000 -%}
    {
      "hadoop-env" : {
        "dtnode_heapsize" : "1024m",
        "namenode_heapsize" : "2048m",
        "namenode_opt_maxnewsize" : "384m",
        "namenode_opt_newsize" : "384m"
      }
    },
    {% endif -%}
    {
      "hdfs-site" : {
        "dfs.datanode.data.dir" : "{% for disk in hostvars[groups['slave-nodes'][0]]['ansible_mounts'] if disk.mount | match("/grid/*") %}{{ disk.mount }}/hadoop/hdfs/data{% if not loop.last %},{% endif %}{% else %}/hadoop/hdfs/data{%- endfor %}",
        {% if hostvars[groups['slave-nodes'][0]]['ansible_memtotal_mb'] > 40000 -%}
        "dfs.datanode.balance.bandwidthPerSec" : "12500000",
        "dfs.datanode.max.transfer.threads": "4096",
        {% endif -%}
        "dfs.datanode.failed.volumes.tolerated" : "{{ hdfs.failed_volumes_tolerated }}",
        "dfs.replication" : "{{ hdfs.dfs_replication }}"
      }
    }
  ],
  "host_groups" : [
    {
      "name" : "slavenode_simple",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "DATANODE"
        },
        {
          "name" : "METRICS_MONITOR"
        }
      ],
      "cardinality" : "{{ groups['slave-nodes']|length }}"
    },
    {% if 'edge-nodes' in groups and groups['edge-nodes']|length > 0 -%}
    {
      "name" : "edgenode",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "METRICS_MONITOR"
        }
      ],
      "cardinality" : "{{ groups['edge-nodes']|length }}"
    },
    {% endif -%}
    {
      "name" : "masternode_1",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "DATANODE"
        },
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {
          "name" : "NAMENODE"
        },
        {
          "name" : "METRICS_MONITOR"
        }
      ],
      "cardinality" : "1"
    },
    {
      "name" : "masternode_2",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "DATANODE"
        },
        {
          "name" : "SECONDARY_NAMENODE"
        },
        {
          "name" : "AMBARI_SERVER"
        },
        {
          "name" : "METRICS_COLLECTOR"
        },
        {
          "name" : "METRICS_MONITOR"
        }
      ],
      "cardinality" : "1"
    }
  ],
  "Blueprints" : {
    "stack_name" : "HDP",
    "stack_version" : "{{ hdp_version }}"
  }
}
