{
  "configurations" : [
    {
      "core-site": {
        {% if hdfs.ha_namenode -%}
        "fs.defaultFS" : "hdfs://{{ cluster_name }}",
        "ha.zookeeper.quorum" : "%HOSTGROUP::masternode_1%:2181,%HOSTGROUP::masternode_2%:2181,%HOSTGROUP::masternode_3%:2181",
        "hadoop.proxyuser.httpfs.groups" : "*",
        "hadoop.proxyuser.httpfs.hosts" : "*",
        {% endif -%}
        "hadoop.proxyuser.hcat.groups" : "*",
        "hadoop.proxyuser.hcat.hosts" : "*",
        "hadoop.proxyuser.hue.groups" : "*",
        "hadoop.proxyuser.hue.hosts" : "*"
      }
    },
    {
      "hdfs-site" : {
        {% if hdfs.ha_namenode -%}
        "dfs.client.failover.proxy.provider.{{ cluster_name }}" : "org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider",
        "dfs.ha.automatic-failover.enabled" : "true",
        "dfs.ha.fencing.methods" : "shell(/bin/true)",
        "dfs.ha.namenodes.{{ cluster_name }}" : "nn1,nn2",
        "dfs.namenode.http-address.{{ cluster_name }}.nn1" : "%HOSTGROUP::masternode_1%:50070",
        "dfs.namenode.http-address.{{ cluster_name }}.nn2" : "%HOSTGROUP::masternode_2%:50070",
        "dfs.namenode.https-address.{{ cluster_name }}.nn1" : "%HOSTGROUP::masternode_1%:50470",
        "dfs.namenode.https-address.{{ cluster_name }}.nn2" : "%HOSTGROUP::masternode_2%:50470",
        "dfs.namenode.rpc-address.{{ cluster_name }}.nn1" : "%HOSTGROUP::masternode_1%:8020",
        "dfs.namenode.rpc-address.{{ cluster_name }}.nn2" : "%HOSTGROUP::masternode_2%:8020",
        "dfs.namenode.shared.edits.dir" : "qjournal://%HOSTGROUP::masternode_1%:8485;%HOSTGROUP::masternode_2%:8485;%HOSTGROUP::masternode_3%:8485/{{ cluster_name }}",
        "dfs.nameservices" : "{{ cluster_name }}",
        {% endif -%}
        "dfs.datanode.data.dir" : "{% for disk in hostvars[groups['slave-nodes'][0]]['ansible_mounts'] if disk.mount | match("/grid/*") %}{{ disk.mount }}/hadoop/hdfs/data{% if not loop.last %},{% endif %}{% else %}/hadoop/hdfs/data{%- endfor %}",
        "dfs.journalnode.edits.dir": "{% for disk in hostvars[groups['master-nodes'][0]]['ansible_mounts'] if disk.mount | match("/hadoop/nn/*") %}/hadoop/nn/hdfs/journalnode{% if not loop.last %},{% endif %}{% else %}/hadoop/hdfs/journalnode{%- endfor %}",
        "dfs.namenode.checkpoint.dir": "{% for disk in hostvars[groups['master-nodes'][0]]['ansible_mounts'] if disk.mount | match("/hadoop/nn/*") %}/hadoop/nn/hdfs/namenodesecondary{% if not loop.last %},{% endif %}{% else %}/hadoop/hdfs/namenodesecondary{%- endfor %}",
        "dfs.namenode.name.dir": "{% for disk in hostvars[groups['master-nodes'][0]]['ansible_mounts'] if disk.mount | match("/hadoop/nn/*") %}/hadoop/nn/hdfs/namenode{% if not loop.last %},{% endif %}{% else %}/hadoop/hdfs/namenode{%- endfor %}",
        "dfs.datanode.failed.volumes.tolerated" : "{% for disk in hostvars[groups['slave-nodes'][0]]['ansible_mounts'] if disk.mount | match("/grid/*") %}{% if loop.last %}{% if loop.index > 1 %}{{ hdfs.failed_volumes_tolerated }}{% else %}0{% endif %}{% endif %}{% else %}0{%- endfor %}",
        "dfs.replication" : "{{ hdfs.dfs_replication }}"
      }
    },
    {% if hdfs.ha_namenode -%}
    {
      "hbase-site" : {
        "hbase.rootdir": "hdfs://{{ cluster_name }}/apps/hbase/data"
      }
    },
    {% endif -%}
    {
      "spark-defaults" : {
        "spark.executor.instances" : "{{ groups['slave-nodes']|length }}"
        }
    },
    {
      "yarn-site" : {
        "yarn.nodemanager.local-dirs" : "{% for disk in hostvars[groups['slave-nodes'][0]]['ansible_mounts'] if disk.mount | match("/grid/*") %}{{ disk.mount }}/hadoop/yarn/local{% if not loop.last %},{% endif %}{% else %}/hadoop/yarn/local{%- endfor %}",
        "yarn.nodemanager.log-dirs" : "{% for disk in hostvars[groups['slave-nodes'][0]]['ansible_mounts'] if disk.mount | match("/grid/*") %}{{ disk.mount }}/hadoop/yarn/log{% if not loop.last %},{% endif %}{% else %}/hadoop/yarn/log{%- endfor %}"
      }
    },
    {
      "kafka-broker" : {
        "log.dirs" : "/hadoop/kafka-logs"
      }
    },
    {
      "storm-site" : {
        "logviewer.port" : "8005"
      }
    },
    {
      "oozie-site" : {
        "oozie.service.ProxyUserService.proxyuser.hue.groups" : "*",
        "oozie.service.ProxyUserService.proxyuser.hue.hosts" : "*"
      }
    },
    {
      "webhcat-site" : {
        "webhcat.proxyuser.hue.groups" : "*",
        "webhcat.proxyuser.hue.hosts" : "*"
      }
    },
    {
      "hive-site" : {
        "fs.file.impl.disable.cache" : "true",
        "fs.hdfs.impl.disable.cache" : "true",
        "javax.jdo.option.ConnectionPassword" : "{{ services_password }}"
      }
    }
  ],
  "host_groups" : [
    {
      "name" : "masternode_1",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "PIG"
        },
        {
          "name" : "OOZIE_CLIENT"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {% if install_falcon == true -%}
        {
          "name" : "FALCON_CLIENT"
        },
        {% endif -%}
        {
          "name" : "SLIDER"
        },
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {
          "name" : "HIVE_METASTORE"
        },
        {
          "name" : "WEBHCAT_SERVER"
        },
        {
          "name" : "MYSQL_SERVER"
        },
        {% if hdfs.ha_namenode -%}
        {
          "name" : "JOURNALNODE"
        },
        {
          "name" : "ZKFC"
        },
        {% endif -%}
        {
          "name" : "NAMENODE"
        },
        {% if install_flume == true -%}
        {
          "name" : "FLUME_HANDLER"
        },
        {% endif -%}
        {% if install_spark == true -%}
        {
          "name" : "SPARK_CLIENT"
        },
        {% endif -%}
        {% if install_hbase == true -%}
        {
          "name" : "HBASE_CLIENT"
        },
        {% endif -%}
        {% if install_storm == true -%}
        {
          "name" : "STORM_UI_SERVER"
        },
        {
          "name" : "DRPC_SERVER"
        },
        {
          "name" : "NIMBUS"
        },
        {% endif -%}
        {% if install_kafka == true -%}
        {
          "name" : "KAFKA_BROKER"
        },
        {% endif -%}
        {% if arcadia == true -%}
        {
          "name" : "ARCENGINE_STATESTORE"
        },
        {
          "name" : "ARCVIZ"
        },
        {
          "name" : "ARCENGINE_CATALOG"
        },
        {% endif -%}
        {% if  ambari_version >= "2.2.2" -%}
        {
          "name" : "METRICS_MONITOR"
        },
        {% endif -%}
        {% if  ambari_version >= "2.4.0" -%}
        {
          "name" : "LOGSEARCH_LOGFEEDER"
        },
        {% endif -%}
        {
          "name" : "HIVE_SERVER"
        }
      ],
      "cardinality" : "1"
    },
    {
      "name" : "slavenode_simple",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "PIG"
        },
        {
          "name" : "OOZIE_CLIENT"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        },
        {
          "name" : "SLIDER"
        },
        {% if install_spark == true -%}
        {
          "name" : "SPARK_CLIENT"
        },
        {% endif -%}
        {% if install_hbase == true -%}
        {
          "name" : "HBASE_CLIENT"
        },
        {% endif -%}
        {% if install_storm == true -%}
        {
          "name" : "SUPERVISOR"
        },
        {% endif -%}
        {% if install_falcon == true -%}
        {
          "name" : "FALCON_CLIENT"
        },
        {% endif -%}
        {
          "name" : "NODEMANAGER"
        },
        {
          "name" : "DATANODE"
        },
        {% if install_hbase == true -%}
        {
          "name" : "HBASE_REGIONSERVER"
        },
        {% endif -%}
        {% if arcadia == true -%}
        {
          "name" : "ARCENGINE"
        },
        {% endif -%}
        {% if  ambari_version >= "2.2.2" -%}
        {
          "name" : "METRICS_MONITOR"
        },
        {% endif -%}
        {% if  ambari_version >= "2.4.0" -%}
        {
          "name" : "LOGSEARCH_LOGFEEDER"
        },
        {% endif -%}
        {
          "name" : "TEZ_CLIENT"
        }
      ],
      "cardinality" : "{{ groups['slave-nodes']|length }}"
    },
    {
      "name" : "masternode_3",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "PIG"
        },
        {
          "name" : "OOZIE_CLIENT"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "SLIDER"
        },
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {% if install_kafka == true -%}
        { 
          "name" : "KAFKA_BROKER"
        },
        {% endif -%}
        {% if install_zeppelin == true -%}
        {
          "name" : "ZEPPELIN_MASTER"
        },
        {% endif -%}
        {
          "name" : "AMBARI_SERVER"
        },
        {% if  ambari_version >= "2.2.2" -%}
        {
          "name" : "METRICS_COLLECTOR"
        },
        {
          "name" : "METRICS_GRAFANA"
        },
        {% endif -%}
        {% if  ambari_version >= "2.4.0" -%}
        {
          "name" : "INFRA_SOLR_CLIENT"
        },
        {
          "name" : "INFRA_SOLR"
        },
        {
          "name" : "LOGSEARCH_SERVER"
        },
        {% endif -%}
        {% if hdfs.ha_namenode -%}
        {
          "name" : "JOURNALNODE"
        },
        {% endif -%}
        {% if install_flume == true -%}
        {
          "name" : "FLUME_HANDLER"
        },
        {% endif -%}
        {% if install_spark == true -%}
        {
          "name" : "SPARK_CLIENT"
        },
        {% endif -%}
        {% if install_hbase == true -%}
        {
          "name" : "HBASE_CLIENT"
        },
        {% endif -%}
        {% if install_falcon == true -%}
        {
          "name" : "FALCON_SERVER"
        },
        {
          "name" : "FALCON_CLIENT"
        },
        {% endif -%}
        {% if  ambari_version >= "2.2.2" -%}
        {
          "name" : "METRICS_MONITOR"
        },
        {% endif -%}
        {% if  ambari_version >= "2.4.0" -%}
        {
          "name" : "LOGSEARCH_LOGFEEDER"
        },
        {% endif -%}
        {
          "name" : "OOZIE_SERVER"
        }
      ],
      "cardinality" : "1"
    },
    {% if 'edge-nodes' in groups and groups['edge-nodes']|length > 0 -%}
    {
      "name" : "edgenode",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "PIG"
        },
        {
          "name" : "OOZIE_CLIENT"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {% if install_flume == true -%}
        {
          "name" : "FLUME_HANDLER"
        },
        {% endif -%}
        {% if install_spark == true -%}
        {
          "name" : "SPARK_CLIENT"
        },
        {% endif -%}
        {% if install_hbase == true -%}
        {
          "name" : "HBASE_CLIENT"
        },
        {% endif -%}
        {% if install_storm == true -%}
        {
          "name" : "SUPERVISOR"
        },
        {% endif -%}
        {% if install_falcon == true -%}
        {
          "name" : "FALCON_CLIENT"
        },
        {% endif -%}
        {% if  ambari_version >= "2.2.2" -%}
        {
          "name" : "METRICS_MONITOR"
        },
        {% endif -%}
        {% if  ambari_version >= "2.4.0" -%}
        {
          "name" : "LOGSEARCH_LOGFEEDER"
        },
        {% endif -%}
        {
          "name" : "SLIDER"
        }
      ],
      "cardinality" : "{{ groups['edge-nodes']|length }}"
    },
    {% endif -%}
    {
      "name" : "masternode_2",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "PIG"
        },
        {
          "name" : "OOZIE_CLIENT"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {% if install_falcon == true -%}
        {
          "name" : "FALCON_CLIENT"
        },
        {% endif -%}
        {
          "name" : "SLIDER"
        },
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {% if install_kafka == true -%}
        {
          "name" : "KAFKA_BROKER"
        },
        {% endif -%}
        {
          "name" : "HISTORYSERVER"
        },
        {% if hdfs.ha_namenode -%}
        {
          "name" : "JOURNALNODE"
        },
        {
          "name" : "ZKFC"
        },
        {
          "name" : "NAMENODE"
        },
        {% else %}
        {
          "name" : "SECONDARY_NAMENODE"
        },
        {% endif -%}
        {% if install_flume == true -%}
        {
          "name" : "FLUME_HANDLER"
        },
        {% endif -%}
        {% if install_spark == true -%}
        {
          "name" : "SPARK_JOBHISTORYSERVER"
        },
        {
          "name" : "SPARK_THRIFTSERVER"
        },
        {
          "name" : "SPARK_CLIENT"
        },
        {% endif -%}
        {% if install_hbase == true -%}
        {
          "name" : "HBASE_CLIENT"
        },
        {
          "name" : "HBASE_MASTER"
        },
        {% endif -%}
        {% if  ambari_version >= "2.2.2" -%}
        {
          "name" : "METRICS_MONITOR"
        },
        {% endif -%}
        {% if  ambari_version >= "2.2.2" -%}
        {
          "name" : "LOGSEARCH_LOGFEEDER"
        },
        {% endif -%}
        {
          "name" : "APP_TIMELINE_SERVER"
        },
        {
          "name" : "RESOURCEMANAGER"
        }
      ],
      "cardinality" : "1"
    }
  ],
  "Blueprints" : {
    "stack_name" : "HDP",
    "stack_version" : "{{ hdp_version }}"
  }
}
