{
  "blueprint" : "cluster_blueprint",
  "default_password" : "{{ services_password }}",
  "host_groups" :[
    {% if groups['slave-nodes']|length > 0 and not (groups['slave-nodes']|length == 1 and groups['master-nodes']|length == 2) -%}
    {
      "name" : "slavenode_simple",
      "hosts" : [{% for node in groups['slave-nodes']|sort %}{% if groups['master-nodes']|length == 2 %}{% if not loop.first %}

        {
          "fqdn" : "{{ hostvars[node]['ansible_fqdn'] | lower }}"
        }{% if not loop.last %},{% endif %}

{% endif %}
{% else %}

        {
          "fqdn" : "{{ hostvars[node]['ansible_fqdn'] | lower }}"
        }{% if not loop.last %},{% endif %}
{% endif %}
{% endfor %}

      ]
    },
    {% endif -%}
    {% if groups['master-nodes']|length > 1 -%}
    {
      "name" : "masternode_2",
      "hosts" : [
{% for node in groups['master-nodes']|sort %}{% if loop.index == 2 %}
        {
          "fqdn" : "{{ hostvars[node]['ansible_fqdn'] | lower }}"
        }
{% endif %}{% endfor %}
      ]
    },
    {% endif -%}
    {% if groups['master-nodes']|length > 2 -%}
    {
      "name" : "masternode_3",
      "hosts" : [
        {
          "fqdn" : "{{ hostvars[groups['ambari-node'][0]]['ansible_fqdn'] | lower }}"
        }
      ]
    },
    {% endif -%}
    {% if 'edge-nodes' in groups and groups['edge-nodes']|length > 0 -%}
    {
      "name" : "edgenode",
      "hosts" : [{% for node in groups['edge-nodes']|sort %}

        {
          "fqdn" : "{{ hostvars[node]['ansible_fqdn'] | lower }}"
        }{% if not loop.last %},{% endif %}
{% endfor %}

      ]
    },
    {% endif -%}
    {% if groups['master-nodes']|length == 2 -%}
    {
      "name" : "slavenode_zookeeper",
      "hosts" : [
        {
          "fqdn" : "{{ hostvars[groups['slave-nodes']|sort|first]['ansible_fqdn'] | lower }}"
        }
      ]
    },
    {% endif -%}
    {
      "name" : "masternode_1",
      "hosts" : [
        {
          "fqdn" : "{{ hostvars[groups['master-nodes']|sort|first]['ansible_fqdn'] | lower }}"
        }
      ]
    }
  ]
}
