{
  "blueprint" : "cluster_blueprint",
  "default_password" : "{{ services_password }}",
  "host_groups" :[
    {
      "name" : "single_node",
      "hosts" : [
        {
          "fqdn" : "{{ hostvars[groups['ambari-node'][0]]['ansible_nodename'] | lower }}"
        }
      ]
    }
  ]
}
