#  cluster zone

local-zone: "{{ ansible_domain }}." transparent

{% for node in groups['hadoop-cluster'] %}
local-data: "{{ hostvars[ambari-node]['ansible_fqdn'] }}. IN A {{ hostvars[ambari-node]['ansible_'~hostvars[ambari-node].cluster_interface|default(hostvars[ambari-node].ansible_default_ipv4.alias)]['ipv4']['address'] }}"
local-data-ptr: "{{ hostvars[ambari-node]['ansible_'~hostvars[ambari-node].cluster_interface|default(hostvars[ambari-node].ansible_default_ipv4.alias)]['ipv4']['address'] }} {{ hostvars[ambari-node]['ansible_fqdn'] }}"

{% endfor %}
